body{
    font-family: 'Tahoma';
    font-weight: normal;
}

table#tbAddNewProduct{
    margin: auto;
    width: 50%;
    background-color: #ffdde1;
    border-radius: 1%;
    padding: 0.5%;
}

th#thAddProduct{
    text-align: center;
    font-size: large;
    color:red;
    background: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);}

td#btnAddProduct{
    text-align: center;
    padding-top: 2%;
}

.btn{
    color: red;
}

textarea#ProductDescription{
    font-family: 'Tahoma';
}

table#ListProduct{
    margin: auto;
    width: 80%;
    border-collapse: collapse;
    border-color:orange;
}

tr#ListProductTitle{
    font-size: large;
    color: rgb(210, 142, 23);
    text-align: center;
    font-weight: bold;
    background-color:#ffdde1;
}

td.tdEdit{
    text-align: center;
    color: brown;
}

table#tbLogin{
    margin: auto;
    width: 35%;
    background: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);border-radius: 1%;
    padding: 0.5%;
}

a{
    text-decoration: none;
}
#btn1{
    background-color:aquamarine;
}